# Database
# PostgreSQL connection string
# Format: postgresql://user:password@host:port/database
DATABASE_URL="postgresql://user:password@localhost:5432/agrilink"

# JWT Secret
NEXTAUTH_SECRET="your-secret-key-here-min-32-characters"

# Next Auth
NEXTAUTH_URL="http://localhost:3000"
